lcov.info
.idea/

BenchmarkDotNet.Artifacts/
obj/
bin/
Bones.sln.DotSettings.user

results reflection/
src/Bonsai.sln.DotSettings.user
images/Untitled-1.svg
images/Untitled-1.ai
images/HIROSHT.TTF
src/Bonsai.Tests/coverage.opencover.xml
*.trx
src/.vs/
src/Bonsai.Benchmarks/BenchmarkDotNet.Artifacts.sf/Bones.Benchmarks.DelegateBench.log
src/Bonsai.Benchmarks/BenchmarkDotNet.Artifacts.sf/
