Bones.Tests/bin/
Bones.Tests/obj/
Bones/obj/
Bones/bin/
Bones.sln.DotSettings.user
.idea/
Bones.TestApp/bin/Debug/netcoreapp2.1/Bones.TestApp.pdb
Bones.TestApp/obj/
Bones.TestApp/bin/
lcov.info
.vscode/
